body, title {
    color: #808080;
}


/*  HEADER  */

.navbar {
    background: #ede8e8;
}

.icons-a {
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
    color: #343A40;
}

.icons-a:hover {
    text-decoration: none;
    color: #343A40;
    background: #e6e9ed;
}



/*  MAIN SECTION  */
.main-section {
    width: 80%;
    margin-left: 10%;
}


/*  FORM  */
.url-form {
    border-top: 1px solid #ede8e8;
    border-bottom: 1px solid #ede8e8;
}

.help-inline {
    color: #c82333;
}


/*  TABLE  */
thead {
    background: #ede8e8;
}

.pagination {
    margin-left: 40%;
}


/*  DETAIL  PAGE  */
.detail-borders, .borders-two {
    border-radius: 10px;
    border: 1px solid #ede8e8;
}

.borders-two {
    width: 99%;
    color: black;
}

.domain {
    background-color: #ececec;
    font-size: 1.4em;
    display:inline-block;
    border-radius: 10px 0px 0px 10px;
}

.short-url {
    font-size: 1.4em;
    display:inline-block;
}


textarea {
    border: 1px solid #ede8e8;
}

.section {
    width: 49%;
    display:inline-block;
}

.detail-buttonms {
    font-size: 1.2em;
    padding: 10px 20px;
    font-weight: bold;
}