/*  HEADER  */

.icons-a {
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
    color: #343A40;
}

.icons-a:hover {
    text-decoration: none;
    color: #343A40;
    background: #e6e9ed;
}